#
# https://help.github.com/articles/dealing-with-line-endings/
#
*.sql		text eol=lf
*.sh		text eol=lf
*.kt		text eol=lf
*.java		text eol=lf
*.yml		text eol=lf

# These are explicitly windows files and should use crlf
*.bat       text eol=crlf
