# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.idea/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
buildNumber.properties
common/src/generated
dependency-reduced-pom.xml
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
/common/common/src/generated/java/nl/knaw/huc/annorepo/model/SearchRequestOuterClass.java
.mvn/.develocity/
