server:
  applicationConnectors:
    - type: http
      port: ${AR_SERVER_PORT:-8080}
  gzip:
    enabled: true
    includedMethods:
      - GET
      - PUT
      - POST

externalBaseUrl: ${AR_EXTERNAL_BASE_URL:-http://localhost:8080}

pageSize: ${AR_PAGE_SIZE:-100}
prettyPrint: ${AR_PRETTY_PRINT:-true}

mongodbURL: ${AR_MONGODB_URL:-mongodb://localhost/}
databaseName: ${AR_DB_NAME:-annorepo}

rangeSelectorType: ${AR_RANGE_SELECTOR_TYPE:-urn:republic:TextAnchorSelector}

withAuthentication: ${AR_WITH_AUTHENTICATION:-false}
rootApiKey: ${AR_ROOT_API_KEY:-thisdefaultapikeyisunsafesochangeitplease}

logging:
  level: INFO
  loggers:
    nl.knaw.huc: INFO
    org: WARN
    org.glassfish: ERROR
