version: '2'

services:
  annorepo_server:
    container_name: annorepo_server
    environment:
      - AR_EXTERNAL_BASE_URL=http://localhost:2021
      - AR_MONGODB_URL=mongodb://annorepo_mongodb/
      - AR_DB_NAME=annorepo
      - AR_PAGE_SIZE=100
    expose:
      - 2021
      - 9999
    ports:
      - "2021:8080"
      - "9999:8081"
    image: registry.diginfra.net/tt/annorepo:0.6.0-SNAPSHOT
    networks:
      - annorepo_network
    restart: unless-stopped
    tty: true
    depends_on:
      - annorepo_mongodb

  annorepo_mongodb:
    container_name: annorepo_mongodb
    expose:
      - 27017
    image: mongo:6.0.7
    networks:
      - annorepo_network
    restart: unless-stopped
    tty: true
    volumes:
      - annorepo_mongodb_data:/data/db:rw

#  annorepo_updater:
#    container_name: annorepo_updater
#    depends_on:
#      - annorepo_server
#    environment:
#      - AR_ADMIN_BACKEND=http://annorepo_server:8081
#    image: annorepo-updater
#    networks:
#      - annorepo_network
#    restart: "no"
#    tty: true

networks:
  annorepo_network:

volumes:
  annorepo_mongodb_data:
    driver: local